/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

* {
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100vh;
  background-color: rgb(198, 228, 219);
}

.container {
  margin: 0 auto;
  z-index: 1;
}

.text {
  padding: 50px;
  height: 100vh;
  width: 53%;
  color: rgb(1, 30, 32);
  font-family: 'Tajawal', 'Helvetica', sans-serif;
  z-index: 1;
  position: fixed;
  font-size: 32pt;
  font-family: 'Cormorant Infant', serif;
  }

.viewport {
  width: 47%;
  height: 100%;
  z-index: 2;
  float: right;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;;
}

.color-block {
  padding: 20px;
  background-color: rgb(1, 30, 32);
  position: absolute;
}

.flex-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 50px;
  align-self: center;
}
