/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 232, 191);
}

.about-text {
  width: 70%;
  height: auto;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26pt;

}